root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
# Formato oficial moderno para Ktlint >= 1.0
ktlint_code_style = android_studio

# Corrección de reglas para que no cuelguen el formateador (Sintaxis moderna)
ktlint_standard_function-naming = disabled
ktlint_standard_backing-property-naming = disabled
ktlint_standard_filename = disabled

# Alternativa moderna si usas la última versión de Ktlint (descomenta si las de arriba fallan):
# ij_kotlin_allow_trailing_comma = true
